.home-container {
    text-align: center;
    padding: 2rem;
    background: #f0f2f5;
    font-family: 'Arial', sans-serif;
}

.home-container h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

.slick-slide img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slick-dots li button:before {
    color: #4CAF50;
}

/* Light mode */
.home-container.light {
    background: #f0f2f5;
    color: #000;
}

.home-container.light h2 {
    color: #333;
}

/* Dark mode */
.home-container.dark {
    background: #333;
    color: #fff;
}

.home-container.dark h2 {
    color: #fff;
}

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Adjust gap as needed */
    padding: 20px; /* Adjust padding as needed */
}

.about-us-text {
    flex: 1;
    max-width: 25%; /* Adjust max-width as needed */
    padding: 20px; /* Adjust padding as needed */
    text-align: justify;
}

.about-us-slider {
    flex: 1;
    max-width: 25%; /* Adjust max-width as needed */
    padding-right: 50%;
    padding-top: 2%;
}

.about-us-slider img {
    width: 100%; /* Make sure images take full width of slider container */
    height: auto; /* Maintain aspect ratio */
}